label{
    font: white;
    -webkit-text-fill-color: blueviolet;
    font-size: 40px;
    font-style: italic;
    margin: 30px;
   width: 600px;
display: inline;
}
    

ol{
    font-style: oblique;
    margin: 40px;
    width: 500px;
    border: none solid blueviolet;
    background-color: blueviolet;

}
